.btn{
    padding: 5px;
    background-color: rgb(23,162,184);
    border: none;
    color: white;
    border-radius: 5px;
    flex-wrap: nowrap;
    min-width: 150px;
    min-height: 50%;
    margin-right: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    height: 40px;
}

.btn:hover{
    font-weight: 600;

    color: rgb(23,162,184);
    background-color: rgba(54, 54, 54, 0.8);
    border: none;
}