.containerIndex{
    padding: 10px;

    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.informationSliter{
    width: 80%;
    height: 50vh;
    min-height: 280px;

}

.lowerTable{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    min-height: 50vh;


}
.allContainer{
    display: flex;
    flex-direction: column;
    
}
.modalContainer{
    display: flex;
    flex-direction: column;

}
.allContainer {
    background: rgb(255, 255, 255);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(179, 179, 179, 0.8) 100%
  );
}
footer{
    flex-direction: column;

}
/*relacionado aa tablea*/
table{ 
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-width: 500px;
    border-collapse: collapse
}
thead{
    
    background-color: rgba(20, 18, 18, 0.8);
    color: #fff;
}
th{
    padding:0 8px;

}
th,td{
    padding: 5px 20px;
    height: 40px;
}
hr{
    margin: 5px;

}

tbody tr:hover{
    background-color: rgb(167, 167, 167);
    color: rgba(54, 54, 54);
}
.descriptionResult{
    font-style: italic;
}
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.tableId{
    font-weight: 700;
}
.btnIndex, .btnSearch {
    cursor: pointer;
}
.btnIndex{
    padding: 8px;
    margin-left: 4px;
    font-size: 14px;
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
}
.btnSearch{
    padding: 8px;
    margin-left: 4px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: rgb(5, 253, 25);   
}
.btnIndex:hover,.btnSearch:hover{
    transition: ease 0.5s;
    background-color: rgba(54, 54, 54, 0.8);
    color: #fff;
}
.btnIndexUp{
    background-color: gold;
}
.btnIndexDel{
    background-color: rgb(250, 17, 0);
}
h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 400;
}
.singleSearchError{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.sidebar{
    border-radius: 10px 0 20px 5px;
    background-color: rgb(54, 54, 54);
    position: fixed;
    right: -400px;
    width: 300px;
    height: 100%;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    background-color: rgb(24, 24, 24);
    color: rgba(255, 255, 255);
    line-height: 70px;
    text-align: center;
}

.sidebarContent{
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.sidebarContent hr{
    margin: 0 0 5px 20px;
}
.sidebarContent p{
    margin-bottom: 10px;
}


#check{
    display: none;
}

label p{
    color: rgb(255, 255, 255);
}
label #cancel{
    font-weight: 700;
    position: absolute;
    cursor: pointer;
    background-color: rgba(54, 54, 54);
    border-radius: 5px;
    padding: 5px 8px;
}
label #cancel{
    z-index: 1111;
    right: -195px;
    top: 70px;
    font-size: 20px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    right: 0;
}

#check:checked ~ label #cancel{
    right: 250px;
}