.backgroundHome{
    background-image: url(../../../public/img/tikal_tech_homeBackground.webp);
    height: 100vh;
}

.containerHome {
  min-height: 70%;
  min-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > div {
  margin-bottom: 30px;
}

.buttonContainer{
  text-align: center;
  margin-top: 50px;
}